<h2>Nos marques</h2>
<p>Voici les marques à votre disposition</p>

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://kibodo.shop">
        <img src="../../assets/kibodo/logos/kibodo-removebg.png" width="30px" alt="Kibodo image">
        <span>&nbsp;&nbsp;Kibodo</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://bhangara-store.com/fr">
        <img src="../../assets/bhangara/logos/bhangara-removebg.png" width="30px" alt="Bhangara image">
        <span>&nbsp;&nbsp;Bhangara</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://naturaforce.com">
        <img src="../../assets/natura-force/logos/naturaforce-removebg.png" width="30px" alt="Natura Force image">
        <span>&nbsp;&nbsp;Natura Force</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://superfoodbeers.com/">
        <img src="../../assets/superfood-beers/logos/superfood-beers.PNG" width="30px" alt="Superfood Beers image">
        <span>&nbsp;&nbsp;Superfood Beers</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://bipil-aguerria.com/">
        <img src="../../assets/bipil-aguerria/logos/bipil-aguerria.png" width="30px" alt="BIPIL Aguerria image">
        <span>&nbsp;&nbsp;BIPIL Aguerria</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.brasserie3mats.com/">
        <img src="../../assets/brasserie-3-mats/logos/brasserie-3-mats.jpg" width="30px" alt="Brasserie 3 Mâts image">
        <span>&nbsp;&nbsp;Brasserie 3 Mâts</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.bieres-bourganel.fr/">
        <img src="../../assets/brasserie-bourganel/logos/brasserie-bourganel-removebg.png" width="30px" alt="Brasserie Bourganel image">
        <span>&nbsp;&nbsp;Brasserie Bourganel</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.brasseriedesaucels.fr/">
        <img src="../../assets/brasserie-aucels/logos/brasserie-des-aucels-removebg.png" width="30px" alt="Brasserie des Aucels image">
        <span>&nbsp;&nbsp;Brasserie des Aucels</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.mamiemonnier.com/fr/">
        <img src="../../assets/delices-mamie-monnier/logos/mamie-monnier-removebg.png" width="30px" alt="Mamie MONNIER image">
        <span>&nbsp;&nbsp;Mamie MONNIER</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

</div>