<h2>Nos catalogues</h2>
<p>Voici les catalogues à votre disposition</p>

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="../../assets/bhangara/catalogs/bhangara-sacs-accessoires.pdf">
        <img src="../../assets/bhangara/logos/bhangara-removebg.png" width="30px" alt="Bhangara image">
        <span>&nbsp;&nbsp;Bhangara Sacs & Accessoires</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="../../assets/bhangara/catalogs/bhangara-himalaya.pdf">
        <img src="../../assets/bhangara/logos/bhangara-removebg.png" width="30px" alt="Bhangara image">
        <span>&nbsp;&nbsp;Bhangara Collection Himalaya</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="../../assets/kibodo/catalogs/kibodo.pdf">
        <img src="../../assets/kibodo/logos/kibodo-removebg.png" width="30px" alt="Kibodo image">
        <span>&nbsp;&nbsp;Kibodo</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="../../assets/delices-mamie-monnier/catalogs/les-delices-mamie-monnier.pdf">
        <img src="../../assets/delices-mamie-monnier/logos/mamie-monnier-removebg.png" width="30px" alt="Délices Mamie MONNIER image">
        <span>&nbsp;&nbsp;Les Délices de Mammie Monnier</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
</div>